@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #FFF8F0;
    width: 100%;
}
header{
    height: 72px;
    width: 100%;
    background-color: #887C14;
    position:fixed;
    top: 0;
    z-index: 10;
    display: flex;
}
header logo{
    color: white;
    font-family: Ravie;
    font-size: 16px;
    float: left;
    margin: 24px 100px;
}
header ul{
    position: absolute;
    right: 57px;
    margin: 24px 0px;
    float: right;
    box-sizing: border-box;
    display: block;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: Poppins;
}
header ul :hover{
    color: black;
    text-decoration: underline;
}
body ul li{
    list-style: none;
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px 12px 0px 0px;
    }
a{
    text-decoration: none;
    color: white;
}
.home{
    width: 100%;
    height: auto;
    position: center;
    margin-bottom: 150px;
}
.content{
    width: 520px;
    padding: 168px 190px;
}
.content h1{
    font-family: League Spartan;
    font-size: 48px;
    margin-bottom: 8px;
}
.content h2{
    font-family: Inter;
    font-size: 16px;
    margin-top: 8px;
}
.line1{
    position: absolute;
    left: 190px;
    top: 300px;
}
.content p{
    font-family: Poppins;
    font-size: 18px;
    margin-top: 63px;
}
.FotoHome{
    position: absolute;
    right: 0;
    top: 70px;
    z-index: -1;
}
.about{
    position: center;
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.about h1{
    font-family: League Spartan;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}
.box{
    margin-left: 156px;
    margin-right: 156px;
    border-radius: 25px;
    border: 20px solid #FFFFFF;
    background-color: #FFFFFF;
    width: auto;
    height: auto;
}
.box p{
    padding: 20px 58.71px;
    text-align: center;
}
.bg1a{
    position: absolute;
    z-index: -1;
    right: 50px;
    top: 750px;
}
.bg2a{
    position: absolute;
    z-index: -1;
    left: 50px;
    top: 850px;
}
.skills{
    margin-bottom: 100px;
    padding-top: 100px;
}
.skills h1{
    font-family: League Spartan;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 62px;
}
.skill{
    display: flex;
    margin: 40px 190px;
    background: rgba(0, 89, 193, 0.25);
    border-radius: 16px;
    align-items: center;
    padding: 20px;
}
.card-pictures{
    height: 160px;
    margin: 10px 20px 10px 0px;
}
.textSkill h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #291854;
}
.textSkill p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #55206D;
}
footer {
    background-color: black;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
footer p {
    color: white;
}
footer ul li {
    display: inline;
    margin-right: 24px;
}
